.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey; 
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
  display: flex;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

/*main {
  min-height: calc(100vh - 210px);
}*/

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/*producto*/
#containerProd {
  flex-direction: column;
}

.product {
    display: flex;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.product img {
    width: 250px;
    height: auto;
    margin-right: 20px;
   
}

.product-info h2 {
    margin: 0;
    font-size: 24px;
}

.product p {
    margin: 5px;
    font-size: 18px;
    color: black;
}

.cantidad-vendidos {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.cantidad-vendidos p {
  
  font-size: 18px;
  color: black;
}

/* ESTILOS DEL LOGIN*/
#login-form {
  background-color: rgba(235, 231, 231);
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0 0 40px 0 rgb(66, 66, 66);
  width: 650px;
  height: 500px;
  margin: 50px auto;
  text-align: center;
}

/* TITULO FORMULARIO*/
#login-form h2 {
  margin-bottom: 20px;
  color: #333;
}

/* CAMPOS INPUT*/
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 70%;
  padding: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #B9B3B3;

}

/* BOTON LOGIN */
#login-form input[type="submit"] {
  background-color: #F2DD1B;
  /* Yellow Color */
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* EFECTO HOVER BOTON */
#login-form input[type="submit"]:hover {
  background-color: #e0a800;
  /* Darker Yellow on Hover */
}

/* MENSAJE DE ERROR*/
#login-form .error-message {
  color: red;
  margin-bottom: 10px;
}

#bodylogin {
  background-image: url('../img/Backgroundimage.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100vh;
}
@media (max-width: 1024px) {
  /* Esto es la pagina en tamaño tableta */
  #login-form {
    margin-top: 12em;
    width: 530px;
    height: 580px;
    border-radius: 80px;
  }
  #login-form input[type="text"],
#login-form input[type="password"] {
  width: 75%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #B9B3B3;

}
#login-form input[type="submit"] {
  background-color: #F2DD1B;
  /* Yellow Color */
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
}
.container{
font-size: 20px;
}
h1{
  font-size: 40px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
#login-form label{
  font-size: 20px;
}

}
@media (max-width: 568px) {
  /* Esta es la pagina en tamaño celular*/
  #login-form{
    width: 250px;
    padding: 20px;
    height: 300px;
    margin-top: 6em;
    border-radius: 35px;
  }
  #login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
  padding: 2px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #B9B3B3;

}
#login-form input[type="submit"] {
  background-color: #F2DD1B;
  /* Yellow Color */
  color: white;
  padding: 4px 35px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}
.container{
font-size: 9px;
}
h1{
  font-size: 20px;
  margin-bottom: 12px;
  padding-bottom: 0px;
}
#login-form label{
  font-size: 12px;
}
.col-md-6 p{
  font-size: 160%;
}
.col-md-3 p{
  font-size: 160%;
}
.etPrecio {
  display: none;
}
.PrecioCompleto{
  font-size:160%;
}
}

#searchInput {
  width: 90%; /* Ajusta el ancho al 80% */
  padding: 10px;
  margin: 0 auto 20px auto; /* Centra horizontalmente con 'margin: 0 auto' */
  font-size: 16px;
  display: block; 
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.fa-star.checked {
  color: #ffd700; /* Color amarillo */
}

.fa-star {
  color: #ccc; /* Color gris claro */
}

/* Dark mode */

/* Estilo para las tarjetas en modo noche */ 
.bg-dark .card.mb-4.shadow-sm.custom-card.cursor-active { background-color: #343a40; } 
/*.bg-dark .card-text { color: #ffffff;} /* Color de texto blanco */  

body.bg-dark .card { background-color: #343a40; 
  color: white; 
  border: 1px solid #444; }

.bg-dark .btn.btn-light.btn-lg.btn-block {  background-color: #212529;
  border: none;
 color: white;}

 .bg-dark .album.py-5.bg-light {
  background-color: #212529 !important; /* Usar !important para forzar el fondo oscuro */
}

.bg-dark .table {
  background-color: #343a40; 
  color: white; 
}

.bg-dark .list-group-item.list-group-item-action { background-color: #343a40; 
  color: white; 
  border: 1px solid #444; }

.bg-dark .img-thumbnail {
  background-color: transparent; /* Elimina el fondo de la imagen */
  border-color: #444; /* Opcional: Cambia el color del borde en modo oscuro si lo deseas */
  }

.bg-dark .row.product { 
  background-color: #343a40; 
  color: white; 
  border: none;
  }

 .bg-dark #ratings { 
    background-color: #343a40; 
    color: white; 
    border: none;
}

.bg-dark .modal-content { 
  background-color: #343a40; 
  color: white; 
  border: none;
}
.bg-dark #containerProd h4, .bg-dark #containerProd p {
  color: white; 
}

/* Estilos para el contenedor del carrito */
.cart-container {
  position: relative; /* Hace que los elementos dentro se posicionen relativos a él */
}

/* Estilos para el número (superíndice) */
#cartCount {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco ligeramente transparente */
  color:  #343a40; /* Texto gris oscuro para menos contraste */
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Círculo perfecto */
  top: -2px;
  right: -2px;
  font-size: 0.6rem; /* Tamaño de fuente más pequeño */
  font-weight: 600; /* Un poco más de peso sin ser muy grueso */
  box-shadow: none; /* Sin sombra para un look más limpio */
  border: none; /* Sin borde para mantener la simplicidad */
}

/* Optimized Cart Sidebar Styles */
.cart-sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #f7f7f7;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s;
  padding: 15px;
  overflow-y: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-sidebar.show {
  right: 0;
}

.cart-sidebar h2 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

/* Cart Item Styles */
.cart-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  font-size: 0.85em;
}

.cart-item .image {
  flex: 0 0 40px;
  padding-right: 8px;
}

.cart-item .image img {
  width: 100%;
  height: auto;
}

.cart-item .name {
  flex: 1;
  text-align: left;
  font-size: 0.85em;
}

.cart-item .price,
.cart-item .currency {
  font-size: 0.85em;
}

.cart-item .price {
  flex: 0 0 55px;
  text-align: right;
}

.cart-item .currency {
  flex: 0 0 35px;
  text-align: center;
  margin-right: 6px;
}

.cart-item .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.cart-item .quantity span {
  width: 20px;
  text-align: center;
}

.cart-item .quantity .btn {
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* Bottom Buttons */
.cart-sidebar .btn-group {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.cart-sidebar .btn-group button {
  width: 48%;
  font-size: 0.85em;
}

/* Dark Mode Styles */
body.bg-dark .cart-sidebar {
  background: #343a40;
  color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.8);
}

body.bg-dark .cart-item {
  border-bottom: 1px solid #444;
}

body.bg-dark .cart-item .price,
body.bg-dark .cart-item .currency,
body.bg-dark .cart-item .name {
  color: #ffffff;
}

body.bg-dark .cart-item .quantity .btn {
  background-color: #444;
  color: #ffffff;
}

body.bg-dark .btn-group .goToCart {
  background-color: #ffc107;
  color: #333;
}

/* Contenedor para el campo de entrada y el logo */
.mb-3 {
  position: relative;
}

#numeroTarjeta {
  --logo-url: none;
  --logo-display: none;
  background-image: var(--logo-url);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

/* Keep active buttons and headings in blue */
#payInUSD.active,
#payInUYU.active {
    background-color: #007bff !important; /* Blue color */
    color: white !important;
    border-color: #007bff !important;
}

.text-primary {
    color: #007bff !important; /* Blue color for headings */
}

/* Set the total amount to blue */
#total {
  color: #28a745 !important; /* Blue color for total amount */
  font-size: 1.25rem; /* Adjust size if needed */
}
#ratings {

  margin-top: 1%;
  padding: 15px;
  background-color: #f9f9f9; /* Fondo claro */
  border-radius: 8px; /* Bordes redondeados */
}
.ratings-row {
  padding: 5px;
  border-bottom: 1px solid #ccc; /* Línea para separar las calificaciones */
}

.ratings-row p {
  font-size: 14px; /* Tamaño de fuente ajustado */
  margin-bottom: 5px;
}

.ratings-row h5 {
  margin: 0; /* Eliminar márgenes para el nombre del usuario */
  font-size: 16px; /* Tamaño de fuente del nombre */
  font-weight: bold; /* Destacar el nombre del usuario */
}
#ratings h4 {
  font-weight: bolder;
}